{% load static %}
<br>
<h1 align = center>"BANGLADESH NEWS"</h1>


<br>
<div class = "row">
  <div class = "col">
    <div class="col-md">
<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header" align = center >Total Cases</div>
  <div class="card-body">
    <h5 class="card-title" align = center >{{bangladesh.cases}}</h5>
  </div>
</div>
</div>
</div>
<div class = "col">
  <div class="col-md">
<div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
  <div class="card-header" align = center >Today Cases</div>
  <div class="card-body">
    {% if bangladesh.todayCases != 0 %}
    <h5 class="card-title" align = center>{{bangladesh.todayCases}}</h5>
    {% else %}
    <h5 class="card-title" align = center>Not Briefed Yet</h5>
    {% endif %}
  </div>
</div>
</div>
</div>

<div class = "col">
  <div class="col-md">
<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
  <div class="card-header" align = center>Total Deaths</div>
  <div class="card-body">
    <h5 class="card-title" align = center >{{bangladesh.deaths}}</h5>
  </div>
</div>
</div>
</div>

<div class = "col">
  <div class="col-md">
<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header" align = center>Today Deaths</div>
  <div class="card-body">
    {% if bangladesh.todayCases != 0 %}
    <h5 class="card-title" align = center>{{bangladesh.todayDeaths}}</h5>
    {% else %}
    <h5 class="card-title" align = center>Not Briefed Yet</h5>
    {% endif %}
  </div>
</div>
</div>
</div>

</div>


<br>
<br>

<div class = "row">
  <div class = "col">
    <div class="col-md">
<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header" align = center >Total Recovered</div>
  <div class="card-body">
    <h5 class="card-title" align = center >{{bangladesh.recovered}}</h5>
  </div>
</div>
</div>
</div>
<div class = "col">
  <div class="col-md">
<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header" align = center >Yesterday Cases</div>
  <div class="card-body">
    <h5 class="card-title" align = center>{{bdyes.todayCases}}</h5>
  </div>
</div>
</div>
</div>

<div class = "col">
  <div class="col-md">
<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header" align = center >Yesterday Deaths</div>
  <div class="card-body">
    <h5 class="card-title" align = center >{{bdyes.todayDeaths}}</h5>
  </div>
</div>
</div>
</div>

<div class = "col">
  <div class="col-md">
<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
  <div class="card-header" align = center>Total Tests</div>
  <div class="card-body">
    <h5 class="card-title" align = center>{{bangladesh.tests}}</h5>
  </div>
</div>
</div>
</div>

</div>
